.casilla{

    width:100px;
    height: 100px;
    font-size: 60px;
    font-weight: bold;    
    text-align: center;
    border: #117A65 solid 3px;
    background-color: #A2D9CE;
}

#tablero{
    padding: 20px 20px 20px 20px ;
    width: 60%;
    margin-left: 19%;
}

#turno{ 
    margin: 0 auto;
    padding: 18px 18px 18px 18px;
    margin-top: 15px;
    width: fit-content;
    height: fit-content;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1A5276;
    border: steelblue solid 5px;
    width: 40%;
}

#respuesta{
    margin: auto;
    padding: 20px 20px 20px 20px;
    margin-top: 15px;
    color: #641E16;
    border: steelblue solid 5px;
    width: 30%;
    height: fit-content;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 40%;
}

body{
    width: 60%;
    height: 100%;
    border: black solid 4px;
    border-radius: 15px;
    padding: 30px 30px 30px 30px;
    text-align: center;
    margin : 0auto;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #641E16 ;
}